/* Define max width of charts and tables for larger screens */
rpc-chart.hydrated,
rpc-table.hydrated {
  max-width: 990px !important;
  margin-left: auto;
  margin-right: auto;
}

.close-button {
  background: #7fffd4;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 5px 10px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.content h2 {
  scroll-margin-top: 8rem;
}

.highlights-open {
  position: fixed;
  right: 20px;
  top: 10%;
  width: 150px;
  z-index: 999;
  display: none;
  transform: translate();
  transition: all 0.5s;
}

.highlights-open:hover{
  transform: scale(1.1);
}

.highlights-open .fa-plus {
  font-size: 0.8em;
}

.highlights-open .main-open-button {
  background-color: orange;
  color: black;
  border: 2px solid black;
  border-radius: 5%;
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
}

.highlights {
  background-color: #f0f0f0;
  border: 5px solid var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: block;
  padding: 10px;
  position: fixed;
  right: 20px;
  top: 10%;
  width: 250px;
  z-index: 999;
}

.highlights.hide,
.highlights-open.hide {
  display: none;
}

.highlights.show,
.highlights-open.show {
  display: block;
}

.highlights-heading h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.home_banner_content {
  background-color: rgba(230, 229, 229, 0.85);
  padding: 60px 0 30px 0;
}

.home_banner_content * {
  color: black;
}

.index_content {
  background-color: var(--white-color);
  border: 5px solid black;
  border-radius: 5em;
}

.index_section {
  background-color: lightgray;
}

.main-close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 2px 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.next-button {
  margin-left: auto;
}

.prev-button {
  margin-right: auto;
}

.prev-button,
.next-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 0;
  padding: 5px 10px;
}

.slide {
  display: none;
}

.slide-number {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.slider-content {
  display: none;
  flex-grow: 1;
}

.slider-row {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.slider-row .slider-content.active {
  background-color: #fff;
  border: 10px solid black;
  display: block;
  height: fit-content;
  position: fixed;
  right: 270px;
  top: 10%;
  width: 600px;
}

.slideshow {
  position: relative;
}

.slideshow .slide:not(:first-child) {
  display: none;
}

.slideshow img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.slideshow-buttons {
  align-items: center;
  background: #7fffd4;
  bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.toggle-button {
  align-items: center;
  color: #fff;
  display: flex;
  height: 30px;
  justify-content: left;
  padding: 5px;
  width: 100%;
}

.toggle-icon {
  font-size: 20px;
}

.unicef-hero__callout {
  background-color: #162e51;
  padding: 2rem;
}

.unicef-hero__callout>p {
  color: #fff;
}

.unicef-hero__callout_heading {
  padding: 1rem;
}

@media (max-width: 500px) {
  .highlights {
    display: none;
  }

  .index_content {
    border: 3px solid black;
  }
}

.mobile-heading {
  display: none;
}

@media (max-width: 768px) {
  .desktop-heading {
    display: none;
  }

  .home_banner_container {
    padding: 25px;
  }

  .index_section {
    padding: 4em 1em;
  }

  .mobile-heading {
    display: block;
  }
}

@media all and (min-width: 100em) {

  .unicef-hero__callout_heading,
  .unicef-hero__callout {
    max-width: 40rem;
  }
}

@media all and (min-width: 40em) {

  .unicef-hero__callout_heading,
  .unicef-hero__callout {
    max-width: 25rem;
  }
}


footer a.nav-link.text-black:hover {
  color: white !important;
}

/* Accordion styles */
.usa-accordion {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.usa-accordion__heading {
  margin: 0;
  margin-bottom: 10px;
  background-color: #844134;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  transition: transform 0.5s;

}

.usa-accordion__heading:hover {
  transform: scale(1.01);
}

.usa-accordion__button {
  font-weight: bold;
  color: #fff;
  text-align: left;
  padding: 10px 15px 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}


/* Plus and Minus Icons */
.usa-accordion__button::before,
.usa-accordion__button::after {
  content: "";
  /* Empty content */
  display: inline-block;
  /* Display as inline-block */
  width: 1rem;
  /* Set width for icons */
  height: 1rem;
  /* Set height for icons */
  font-size: 1.7rem;
  /* Set font size for icons */
  line-height: 1rem;
  /* Set line-height for vertical centering */
  text-align: center;
  /* Center icons horizontally */
  position: absolute;
  /* Position absolute to align icons */
  top: 50%;
  /* Position at vertical center */
  transform: translateY(-50%);
  /* Adjust for vertical centering */
}

/* Plus Icon Default */
.usa-accordion__button::after {
  content: "+";
  /* Plus icon */
  right: 1.5rem;
  /* Position from the right */
}

/* Plus Icon */
.usa-accordion__button[aria-expanded="false"]::after {
  content: "+";
  /* Minus icon when expanded */
  right: 1.5rem;
  /* Position from the right */
}

/* Minus Icon */
.usa-accordion__button[aria-expanded="true"]::after {
  content: "-";
  /* Minus icon when expanded */
  right: 1.5rem;
  /* Position from the right */
}

.usa-accordion__button:hover {
  text-decoration: underline;
}

.usa-accordion__content {
  display: none;
  padding: 1rem;
  background-color: white;
  border: 5px solid #d1d1d1;
}

.usa-accordion__content.show {
  display: block;
}