/* Alert Style */
.alert {
  padding: 0px;
}

/* Anchor Button Style */
.btn-anchor {
  background-color: #006f22;
  border: none;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  transform: translate();
}

@media all and (min-width: 768px) {
  .btn-anchor {
    height: 150px;
  }
}

.btn-anchor:hover {
  background-color: #3186b4;
  color: #fff;
  text-decoration: none;
  transform: scale(1.05);
}

/* Custom Button Style */
.btn-custom {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #006f22;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-custom:hover {
  background-color: #f0d659;
  color: #000000;
  transform: scale(1.1);
}

/* Exclaim Section Style */
.exclaim {
  background-color: #dceff8;
  padding: 0.5em 0.25em 0.5em 1em;
  margin-bottom: 1em;
  border-left: 12px solid #1691d0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Future Vision Content Style */
.future-vision-content {
  max-width: 100%;
}

@media (min-width: 991px) {
  .future-vision-content {
    max-width: 70%;
  }
}

.future-vision-content .content {
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.85);
  margin-bottom: 40px;
  background-color: white;
}

/* Future Vision HR Style */
.future-vision-hr {
  border: none;
  border-top: 2px dashed green;
  margin: 20px 0;
}

/* Future Vision Section Divide Style */
h2.section-divide {
  background-color: #006f22;
  border-radius: 0.5em;
  padding: 0.25em;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-size: 1.6em;
  line-height: 1em;
  margin-top: 1em;
  text-decoration: none !important;
  margin-bottom: 1em;
}

/* Icon Size for Icons */
.icon-size {
  font-size: 1.5rem;
}

@media (min-width: 772px) {
  .icon-size {
    font-size: 2rem;
  }
}

/* Section Introduction Paragraph Style */
p.section-intro {
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0.25em;
  letter-spacing: 0.01em;
  font-size: 1.6em;
  color: var(--black-color);
}

section.future-vision-content * h2 {
  text-decoration: underline;
  text-decoration-color: #844134;
  text-underline-offset: 6px;
}

/* Welcome Flavour Text Style */
.welcome-flavour-text {
  text-align: center;
  color: #006f22;
}

/* Media Queries */
@media (max-width: 768px) {
  .future-vision-content {
    max-width: 100%;
  }

  p.section-intro {
    font-size: 1em;
  }
}