body {
  line-height: 1.5;
  font-family: var(--font-family), sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  color: var(--text-color);
  background-color: var(--body-color);
}

P {
  color: var(--text-color);
  font-size: 16px;
}

/* Alert Box */
.col-fixed {
  width: 75%;
  /* min-height: 9rem;
    max-height: 9rem; */
  position: absolute;
  left: 13%;
  right: 13%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .col-fixed {
    width: 100%;
    left: 0;
    right: 0;
    /* min-height: 12rem;
        max-height: 12rem; */
  }
  .cohort-cards {
    display: grid !important;
  }
}
/* End of alert box */

/* ===[ start: DPG Report styling ]=== */
#report-dpg #report-dpg-header {
  background-color: #cccccc;
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
}
#report-dpg .report-dpg-status1 {
  background-color: #66cc00;
  color: var(--text-color);
}
#report-dpg .report-dpg-status2 {
  background-color: #ffcc00;
  color: var(--text-color);
}
#report-dpg .report-dpg-status3 {
  background-color: #ff0033;
  color: var(--white-color);
}
/* ===[ end: DPG Report styling ]=== */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-dark);
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 45px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 26px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 14px;
}

/* Button style */

.btn {
  font-size: 14px;
  font-family: var(--font-family), sans-serif;
  text-transform: uppercase;
  padding: 16px 44px;
  border-radius: 0px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--white-color);
}

.btn-primary:active {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color);
  opacity: 0.8;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.inline-button {
  line-height: 0.8rem !important;
  padding: 5px 8px !important;
  pointer-events: none;
  margin-top: -5px;
}

.overflow-hidden {
  overflow: hidden !important;
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--white-color);
}

::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

/* page tags */
.page-tags-flex {
  display: flex;
  flex-direction: row;
}

.page-tags {
  background-color: #1cabe2;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 0.25rem;
  white-space: normal;
  overflow: hidden;
  color: #fff;
  font-size: 13px;
  margin: 10px 0 10px 20px;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-color);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0;
  font-size: 15px;
}

ol {
  padding-left: 20px;
  font-size: 15px;
}

img {
  vertical-align: middle;
  border: 0;
}

/* This changed this from the primary color to a darker shade to improve acessibility (https://github.com/unicef/inventory/issues/32) */

a {
  text-decoration: none;
  color: #374ea2;
}

a:hover,
a:focus {
  color: var(--primary-color);
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;
}

a:focus,
button:focus,
select:focus {
  outline: 0;
}

.hanchor {
  font-size: 100%;
  visibility: hidden;
  color: #d8d1c9;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-bottom: 80px;
}

.section,
section.main-section {
  padding-top: 10vh;
}

section#section {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .section {
    /* padding-top: 10rem; */
  }
}

/* .section-sm {
    padding-top: 60px;
    padding-bottom: 60px;
} */

@media (max-width: 768px) {
  /* .section-sm {
        padding-top: 40px;
    } */
}

@media (max-width: 400px) {
  section.main-section {
    padding-top: calc(300px - 4vw);
  }
}

.section-title {
  margin-bottom: 40px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: #f2f2f2 !important;
}

pre {
  padding: 20px;
}

/* overlay */

.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  background: #8db474;;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.85;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: var(--primary-color) !important;
}

.bg-white {
  background-color: var(--white-color) !important;
}

.bg-light {
  background-color: var(--light-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-color {
  color: var(--text-color) !important;
}

.text-dark {
  color: var(--text-color-dark) !important;
}

.text-white {
  color: var(--white-color) !important;
}

.text-black {
  color: var(--black-color) !important;
}

.top-50 {
  top: 50px;
}

nav #site-brand {
  display: inline-block;
}

nav #site-brand a {
  color: var(--text-title-color) !important;
}

nav #site-brand a:focus,
nav #site-brand a:hover {
  color: var(--light-color) !important;
}

@media (max-width: 575px) {
  nav #site-brand {
    margin-left: 1em;
  }
}

.navbar {
  padding: 0;
}

.navbar .navbar-toggler {
  position: absolute;
  right: 10px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navigation {
  background-color: var(--primary-color);
}

.navigation > div > a {
  color: white;
}



.unicef-glob {
  font-size: 0.7rem !important;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 0;
  }
  .nav-img {
    width: 11rem;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .nav-heading {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
  }
  .nav-title {
    font-size: 0.8rem;
    display: inline-block !important;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .navigation-bar {
    display: table !important;
  }
  .unicef-glob {
    position: absolute;
    bottom: 30px;
    right: 2%;
  }
}

.navbar-brand img {
  max-width: 15rem;
  margin-bottom: 0;
}

.navbar .nav-item {
  padding: 10px !important;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  padding: 0px 5px !important;
  font-size: 15px;
  border-bottom: 3px solid transparent;
}

.navbar .nav-item .nav-link:hover{
  border-bottom: white 3px solid;
}

.navbar .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar .dropdown-menu {
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  padding: 15px 0px;
  border: 0;
  top: 42px;
  left: 0px;
  border-radius: 0;
  display: block;
  visibility: hidden;
  transition: 0.3s ease;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  background: var(--white-color);
}

@media (max-width: 768px) {
  .navbar .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: unset;
    transform-origin: unset;
  }
}

.navbar .dropdown-menu.view {
  visibility: visible !important;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform-origin: top;
  transform-origin: top;
}

@media (max-width: 768px) {
  .navbar .dropdown-menu.view {
    display: block;
  }
}

.navbar .dropdown-menu.show {
  visibility: hidden;
}

@media (max-width: 768px) {
  .navbar .dropdown-menu.show {
    visibility: visible;
    display: block;
  }
}

.navbar .dropdown-item {
  position: relative;
  color: var(--text-color-dark);
  transition: 0.2s ease;
  font-family: var(--font-family), sans-serif;
}

@media (max-width: 768px) {
  .navbar .dropdown-item {
    text-align: center;
  }
}

.navbar .dropdown-item:hover {
  color: var(--primary-color);
  background: transparent;
}

.breadcrumbBar {
  position: relative;
}

.breadcrumbBar a {
  all: unset;
  cursor: pointer;
  margin: 0 !important;
}

.lang-list {
  background: var(--primary-color);
  color: var(--white-color);
}

.lang-list.dark {
  color: var(--text-color-dark);
  background: var(--white-color);
}
/* Home page banner styles */

.home_banner {
  overflow: hidden;
}

.home_banner p {
  font-size: 20px;
  opacity: 0.8;
}

.home_banner .nav-link.text-dark {
  color: var(--white-color) !important;
}

.home_banner .nav-link.text-dark:hover {
  color: var(--white-color) !important;
}

.home_banner .navbar-brand {
  color: var(--white-color) !important;
}

/* Inside page banner styles */

.unicef-hero {
  font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 1.01401rem;
  line-height: 1.59762;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-position: center;
  background-size: cover;
}

.unicef-hero__heading {
  margin-bottom: 0;
  margin-top: 0;
  clear: both;
  font-family: Montserrat,;
  font-size: 1.98356rem;
  font-weight: 700;
  color: #00bde3;
  line-height: 1.20994
}

*+.unicef-hero__heading {
  margin-top: 1.5em
}

.unicef-hero__heading+* {
  margin-top: 1em
}

.unicef-hero__heading--alt {
  color: #fff;
  display: block
}

/* search */

#project-icon {
  float: left;
  height: 32px;
  width: 32px;
}

#project-description {
  margin: 0;
  padding: 0;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-menu {
  background: var(--white-color);
  padding: 5px 20px 20px;
  right: 0 !important;
  max-height: 200px;
  overflow: hidden;
  border-radius: 0 0 25px 25px;
  z-index: 9999;
  box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.07);
}

@media (max-width: 575px) {
  .ui-menu {
    width: calc(100% - 30px) !important;
  }
}

@media (min-width: 576px) {
  .ui-menu {
    max-width: 510px !important;
  }
}

@media (min-width: 768px) {
  .ui-menu {
    max-width: 690px !important;
  }
}

@media (min-width: 992px) {
  .ui-menu {
    max-width: 610px !important;
  }
}

@media (min-width: 1200px) {
  .ui-menu {
    max-width: 730px !important;
  }
}

.ui-menu-item a {
  color: var(--text-color);
  padding: 8px 0;
  font-size: 15px;
}

.ui-menu-item a:hover {
  color: var(--primary-color);
}

.ui-menu-item:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.ui-menu-item * {
  display: none;
}

.ui-menu-item .ui-corner-all {
  display: block;
}

/* /navigation */

.form-control {
  height: 50px;
  border-radius: 25px;
  border: 0;
  padding: 0 20px;
}

.form-control:focus {
  border: 0;
  box-shadow: none !important;
}

textarea.form-control {
  height: 150px;
  padding: 20px;
}

.icon {
  font-size: 40px;
}

.shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  transition: 0.3s ease;
}

.shadow-bottom {
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
}

.shadow:hover,
.shadow:focus {
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.1) !important;
}

/* single page */

.content * {
  margin-bottom: 20px;
}

.content img {
  max-width: 100%;
  height: auto;
  margin: 0 auto 15px;
  display: block;
  text-align: center;
}

.content ul {
  padding-left: 0;
  margin-bottom: 20px;
}

.content ul li {
  padding-left: 20px;
  position: relative;
}

.content ul li::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--primary-color);
  opacity: 0.3;
  left: 0;
  top: 8px;
}

.list-styled li {
  padding-left: 20px;
  position: relative;
}

.list-styled li::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--primary-color);
  opacity: 0.3;
  left: 0;
  top: 17px;
}

.post-meta {
  color: var(--text-color);
  font-style: italic;
  font-size: 14px;
}

/* Single page image shortcode */
.unicef-image {
  margin: 1em 0;
}

@media screen and (min-width: 768px) {
  .unicef-image-left {
    clear: both;
    float: left;
    margin-right: 1em;
    width: 50%;
  }
  .unicef-image-right {
    clear: both;
    float: right;
    margin-left: 1em;
    width: 50%;
  }
  .unicef-image-caption {
    font-size: 80%;
  }
  .unicef-image-attr {
    font-size: 80%;
    font-style: italic;
  }
}

/* https://github.com/unicef/inventory-hugo-theme/issues/62 | Fixed line spacing */
.highlight * {
  margin-bottom: 2px;
}

blockquote {
  font-size: 20px !important;
  color: var(--text-color-dark);
  padding: 20px 40px 0;
  margin: 40px 0;
  font-weight: 300;
}

blockquote p {
  color: var(--text-color-dark) !important;
}

/* citation Parent div */

.quoteblock {
  background: #f5fdff;
  border-left: 2px solid var(--primary-color);
  box-sizing: border-box;
}

/* User Citation */

.user-quote {
  padding-bottom: 5px;
}

/* Citation image */

.user-quote blockquote .imageblock {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

/* Citation Person name */

.user-quote .attribution {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  color: var(--primary-color);
  font-weight: 700;
}

/* Citation big quotes */

.user-quote blockquote p::before {
  font-family: "Font Awesome 5 Free";
  content: "\f10d";
  color: var(--primary-color);
  font-weight: 700;
  font-size: 50px;
  padding: 3px 3px;
  margin-right: 6px;
}

/* Citation text */

.user-quote blockquote p {
  text-align: center;
  /*padding-bottom: 3rem;*/
}

.pagination {
  justify-content: space-between;
}

.pagination a {
  color: var(--primary-color);
}

.pagination i {
  font-size: 15px;
  line-height: 1.8;
}

#accordion i {
  font-size: 14px;
  line-height: 2;
}

table {
  text-align: left;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
}

table td,
table th {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
  margin-bottom: 0;
}

thead {
  background: #ececec;
  margin-bottom: 0;
}

tbody {
  background: #f8f8f8;
  margin-bottom: 0;
}

.notices {
  margin: 2rem 0;
  position: relative;
}

.notices p {
  padding: 10px;
}

.notices.note p {
  border-top: 30px solid #6ab0de;
  background: #e7f2fa;
}

.notices.note p::before {
  position: absolute;
  top: 2px;
  color: #fff;
  font-family: "themify";
  font-weight: 900;
  content: "\e61d";
  left: 5px;
}

.notices.note p::after {
  content: "Note";
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}

.notices.tip p {
  border-top: 30px solid #78c578;
  background: #e6f9e6;
}

.notices.tip p::before {
  position: absolute;
  top: 2px;
  color: #fff;
  font-family: "themify";
  font-weight: 900;
  content: "\e63a";
  left: 5px;
}

.notices.tip p::after {
  content: "Tip";
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}

.notices.info p {
  border-top: 30px solid #f0b37e;
  background: #fff2db;
}

.notices.info p::before {
  position: absolute;
  top: 2px;
  color: #fff;
  font-family: "themify";
  font-weight: 900;
  content: "\e717";
  left: 5px;
}

.notices.info p::after {
  content: "Info";
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}

.notices.warning p {
  border-top: 30px solid #e06f6c;
  background: #fae2e2;
}

.notices.warning p::before {
  position: absolute;
  top: 2px;
  color: #fff;
  font-family: "themify";
  font-weight: 900;
  content: "\e607";
  left: 5px;
}

.notices.warning p::after {
  content: "Warning";
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}

/*Caution Admonition Shortcode*/
.notices.caution p {
  border-top: 30px solid #802392;
  background: #f7cdff;
}

.notices.caution p::before {
  position: absolute;
  top: 2px;
  color: #fff;
  font-family: "themify";
  font-weight: 900;
  content: "\e620";
  left: 5px;
}

.notices.caution p::after {
  content: "Caution";
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}

/*Important Admonition Shortcode*/
.notices.important p {
  border-top: 30px solid #e40046;
  background: #f7bacc;
}

.notices.important p::before {
  position: absolute;
  top: 2px;
  color: #fff;
  font-family: "themify";
  font-weight: 900;
  content: "\e6c0";
  left: 5px;
}

.notices.important p::after {
  content: "Important";
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}

/* /single page */

/* side list */

.sidebar-scroll {
  overflow: auto;
  max-height: 33vh !important;
  padding-left: 0.5rem;
}

.sidebarContainer {
  width: 280px !important;
  min-height: auto !important;
}

.sidebar {
  width: 272px !important;
  position: sticky;
  top: 150px;
}

.sidelist {
  display: block;
}

li.sidelist > a {
  display: block;
  font-size: 20px;
  cursor: pointer;
}

li.sidelist li a {
  margin: 0;
}

.sidelist li.sidelist {
  display: block;
}

.sidelist li.sidelist.active a {
  color: var(--primary-color);
}

.sidelist li.sidelist.active::before {
  opacity: 1;
}

.page-list li a {
  display: none;
}

.page-list li ul a {
  display: block;
}

.sidelist li a {
  color: var(--text-color-dark);
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0;
  line-height: 1.4;
}

.contentContainer {
  width: calc(100% - 250px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.single > div > div.contentContainer h2 {
  text-decoration: underline;
  text-decoration-color: crimson;
  text-underline-offset: 6px;
}

.contentBox {
  border-radius: 10px;
}

p:empty,
p a:empty {
  display: none !important;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 10px 0px 10px;
}

code {
  margin-bottom: 0 !important;
  font-size: 100%;
}

.back-btn:hover {
  text-decoration: none !important;
}

.ui-autocomplete-input {
  border: 2px solid black !important;
  padding-right: 50px;
}

.ui-autocomplete-input:focus {
  border: 3px solid var(--primary-color) !important;
}


.search-icon {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 14px;
}

i {
  transition: 0.2s ease;
}

/* custom scrollbar */

pre code::-webkit-scrollbar {
  height: 5px;
}

pre code::-webkit-scrollbar-track {
  background: #000000;
}

pre code::-webkit-scrollbar-thumb {
  background: #888;
}

/* content tabs */

.code-tabs {
  border: 1px solid #dee2e6;
  overflow: hidden;
  margin: 20px 0px;
}

.code-tabs .tab-content {
  padding: 20px 15px;
  margin-bottom: 0;
}

.code-tabs .tab-content .tab-pane {
  margin-bottom: 0;
}

.code-tabs .nav-tabs {
  margin-bottom: 0;
}

.code-tabs .nav-tabs .nav-item {
  padding-left: 0;
  border-right: 1px solid #dee2e6;
}

.code-tabs .nav-tabs .nav-item .nav-link {
  text-decoration: none;
  font-weight: 500;
  border: 0;
  margin-bottom: 0;
}

.code-tabs .nav-tabs .nav-item::before {
  display: none;
}

.code-tabs .nav-tabs .nav-item.active {
  background: var(--primary-color);
}

.code-tabs .nav-tabs .nav-item.active .nav-link {
  color: var(--white-color);
}

.cardLink {
  border-radius: 10px;
}

.cardLink:hover {
  text-decoration: none;
}

/* Table of Contents */

#toc {
  background-color: #f7f7f7;
  border: 1px solid #6d6e71;
  box-sizing: border-box;
  border-radius: 4px;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

#toctitle {
  font-weight: 600;
  font-size: 1.5rem;
  color: #1cabe2;
  margin: 1.5rem 0rem;
}

.content > .toc > ul li::before {
  display: none;
}

.content > .toc > .sectlevel1 > li a {
  font-weight: 400;
  font-size: 1.2rem;
  color: #4c4c4c;
  margin: 0.5rem 0rem;
}

.content > .toc > .sectlevel1 > li ul li a {
  color: #677993;
  font-size: 1rem;
}

.sectlevel2 {
  padding-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .sectlevel2 {
    display: none;
  }

  .content > .toc > .sectlevel1 > li a:hover,
  a:focus + .sectlevel2 {
    display: block;
    padding-top: 1rem;
  }
}

.editBtn {
  border: none;
  cursor: pointer;
}

.startupCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.socialIcon {
  all: unset !important;
  cursor: pointer !important;
}

.socialIcon i {
  color: var(--black-color);
  font-size: 22px;
  padding: 3px;
  transform: translate();
}

.socialIcon i:hover {
  color: var(--white-color);
  transition: color 10ms linear;
  transform: scale(1.05);
}

footer {
  background: url('/lrtp-2050/images/footer_banner.jpg');
}

@media (max-width: 767px) {
  footer {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

footer a:hover {
  transform: scale(1.05);
}

.footer-logo {
  max-width: 80%;
  margin-left: auto;
}

footer ul.list-inline,
footer .footer-contact {
  margin-right: 5%;
}

.breadcrumbLink {
  text-transform: capitalize !important;
}

.dpgCard {
  background-color: var(--body-color);
}



/* sidebar media queries*/
@media (max-width: 1100px) {
  .sidebarContainer {
    display: none !important;
  }
  .contentContainer {
    width: 100% !important;
    padding: 10px 0 !important;
  }
  .contentBox {
    margin: 10px !important;
  }
  /* .sidebarMobile{
        display:block;
    } */
  .sidebarMobile a {
    all: unset;
    color: white !important;
    font-family: var(--font-family);
  }
  .sidebarMobile .row {
    all: unset;
  }
  .sidebarMobile .col-10 {
    all: unset;
  }
  .sidebarIcon {
    display: inline;
    position: absolute;
    right: 22px;
    top: 7px;
    font-size: 20px;
  }
  .navbarMenu {
    right: 10px !important;
    color: var(--white-color);
    top: 10px !important;
    font-size: 16px !important;
  }
}

@media (min-width: 1100px) {
  .sidebarMobile {
    display: none !important;
  }
  .sidebarIcon {
    display: none !important;
  }
}

/* unicef-sidebar styles */
.unicef-sidenav {
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
  font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 1.01401rem;
  line-height: 1.33135;
  border-bottom: 1px solid #dcdee0;
}

.unicef-sidenav__item {
  border-top: 1px solid #dcdee0;
}

.unicef-sidenav .unicef-current {
  position: relative;
  color: var(--text-color-dark);
  font-weight: 700;
}

.unicef-sidenav a {
  color: #565c65;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: .2s ease;
}

.unicef-sidenav a:hover {
  transform: scale(1.05);
}

.unicef-sidenav__sublist {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-size: .95063rem;
}

.unicef-nav__submenu-list>li, .unicef-sidenav>li, .unicef-sidenav__sublist>li {
  margin-bottom: 0;
  max-width: unset;
}

ul.unicef-sidenav__sublist > li.unicef-sidenav__item > a {
  padding-left: 2rem;
}

@media all and (min-width: 40em) {
  .unicef-sidenav .unicef-current {
    position:relative;
  }

  .unicef-sidenav .unicef-current::after {
      background-color:  var(--primary-color)!important;
      border-radius: 99rem;
      content: '';
      display: block;
      position: absolute;
      bottom: .25rem;
      top: .25rem;
      width: .25rem;
      left: 0;
  }
}

.unicef-sidenav .unicef-current::after {
  background-color: var(--primary-color)!important;
  border-radius: 99rem;
  content: '';
  display: block;
  position: absolute;
  bottom: 0.25rem;
  top: 0.25rem;
  width: 0.25rem;
  left: 0.25rem;
}


@media (max-width: 767px) {
  .footer-logo {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }

  footer ul.list-inline,
  footer .footer-contact {
    margin-right: 0%;
    padding-bottom: 10px;
  }
}
@media (max-width: 350px) {
  .globalLogoImg {
    width: 170px !important;
  }
}
