{{ $image := .Resources.GetMatch "banner.*" }}
{{ if $image }}
  <section class="unicef-hero p-lg-5 p-3" style="background-image: url('{{ $image.RelPermalink }}');">
    <div class="grid-container">
      {{ if or .Params.bannerHeading .Params.bannerText .Params.bannerHeadingBackgroundColor .Params.bannerHeadingColor .Params.bannerTextIcon}}
        <div class="unicef-hero__callout_heading" style="background-color: {{ .Params.bannerHeadingBackgroundColor | default .Site.Params.text_color_dark }};">
          <h1 class="unicef-hero__heading" style="color: {{ .Params.bannerHeadingColor | default .Site.Params.white_color }}">
            {{ .Params.bannerHeading }}
          </h1>
        </div>
        <br />
        {{ if .Params.bannerTextIcon }}
          <div class="unicef-hero__callout d-flex p-3">
            {{ if .Params.bannerText }}
              <img src="https://ccrpc.gitlab.io/lrtp-2050/goals/{{ .Params.bannerTextIcon }}.png" class="my-auto d-none d-md-block" width="120px" height="120px">
              <img src="https://ccrpc.gitlab.io/lrtp-2050/goals/{{ .Params.bannerTextIcon }}.png" class="my-auto d-block d-md-none" width="100px" height="100px">
              <p style="font-size: 22px" class="ml-1 mb-0 p-3">{{ .Params.bannerText }}</p>
            {{ end }}
            {{ if and .Params.bannerAction .Params.bannerUrl }}
              <a class="unicef-button" href="{{ .Params.bannerUrl | relURL }}">{{ .Params.bannerAction }}</a>
            {{ end }}
          </div>
        {{ else }}
          <div class="unicef-hero__callout">
            {{ if .Params.bannerText }}
              <p>{{ .Params.bannerText }}</p>
            {{ end }}
            {{ if and .Params.bannerAction .Params.bannerUrl }}
              <a class="unicef-button" href="{{ .Params.bannerUrl | relURL }}">{{ .Params.bannerAction }}</a>
            {{ end }}
          </div>
        {{ end }}        
      {{ end }}
    </div>
  </section>
{{ end }}