{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
<div class="d-flex">
  <div class="breadcrumbs">
    <a href="{{ .Site.BaseURL}}">Home</a>
    {{ range $index, $element := split $url "/" }}
    {{ $.Scratch.Add "path" $element }}
    {{ if ne $element "" }}
    &gt; <a href="{{ $.Scratch.Get " path" }}" class="breadcrumbLink">{{ . }}</a>
    {{ $.Scratch.Add "path" "/" }}
    {{ end }}
    {{ end }}
  </div>
  <div class="d-none d-md-block ml-auto">
    <a href="/lrtp-2050/contact">
      <span>Contact</span>
    </a>
  </div>
</div>