{{ if eq .Params.highlights "yes" }}
    <!-- Floating sidebar with slider rows -->
    <div class="highlights-open">
        <button class="main-open-button">Highlights <i class="fa fa-plus"></i></button>
    </div>
    <div class="highlights">
        <div class="highlights-heading">
            <h3>Highlights</h3>
            <button class="main-close-button">&times;</button>
        </div>
        {{ range .Params.highlights_slider_sections }}
            <div class="slider-row">
                <div class="toggle-button" style="background-color: {{ .background_color }}">
                    <span class="toggle-icon">&lt;&lt; {{ .title }}</span>
                </div>
                <div class="slider-content" style="border-color: {{ .background_color }}">
                    <div class="slideshow">
                        {{ range .slides }}
                            {{ if .file }}
                                <div class="slide">
                                    <img src="{{ .file }}" alt="{{ .alt }}" />
                                </div>
                            {{ else if .url }}
                                <div class="slide">
                                    <img src="{{ .url }}" alt="{{ .alt }}" />
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>
                    <!-- Navigation buttons -->
                    <div class="slideshow-buttons">
                        <button class="close-button">&times;</button>
                        <button class="prev-button">&lt;</button>
                        <div class="slide-number">{{ len .slides }}</div>
                        <button class="next-button">&gt;</button>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>    
{{ end }}

