{{ "<!-- footer -->" | safeHTML }}
<footer class="section overlay p-4">
  {{ $orgName:= site.Params.brand.parent_org_name }}
  {{ $orgLegal:= site.Params.brand.parent_org_url_legal }}
  {{ $orgUrl:= site.Params.brand.parent_org_url }}
  <div class="container">
    <div class="row align-items-center">
    <div class="col-md-3 text-md-left text-center">
       <ul>
        <li><a class="nav-link text-black" href="{{ site.BaseURL | relLangURL }}">HOME</a></li>
        {{ range site.Menus.main }}
          {{if ne .Name "pages"}}
            <li class="nav-item">
              <a class="nav-link text-black text-uppercase" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
       </ul>
      </div>
      <div class="col-md-6 text-md-center text-center">
       <p class="mb-md-0 mb-4 text-black">{{ .Site.Params.footer.description | markdownify }}</p>
      </div>
      <div class="col-md-3 text-md-right text-center">
        <div class="footer-logo">
          <a href = "{{ .Site.Params.footer.logohref }}"><img src="{{ .Site.Params.footer.logo }}" alt="cuuats-logo"></a>
        </div>
        <ul class="list-inline">
          {{ range .Site.Params.social }}
          <li class="list-inline-item"><a class="text-color d-inline-block p-2 text-black socialIcon" href="{{ .link | safeURL }}" aria-label="{{ .name }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
        <div class="footer-contact">
          <div><i class="d-none d-lg-inline-block fas fa-phone text-black"></i><a class="text-black pl-1" href="tel:{{ .Site.Params.footer.phone }}">{{.Site.Params.footer.phone }}</a></div>
          <div><i class="d-none d-lg-inline-block fas fa-envelope text-black"></i> <a class="text-black pl-1" href="mailto:{{ .Site.Params.footer.email }}">{{ .Site.Params.footer.email }}</a></div>
        </div>        
      </div>
    </div>
  </div>
  <p class="text-md-center text-center text-black mt-3 h6 font-italic">{{ .Site.Params.copyright | markdownify }}</p>
</footer>
{{ "<!-- /footer -->" | safeHTML }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ $custom_script := resources.Get "js/custom_script.js" | minify}}
<script src="{{ $custom_script.Permalink }}"></script>
<script type="module" src="https://unpkg.com/@ccrpc/charts@0.9.3/dist/ccrpc-charts/ccrpc-charts.esm.js"></script>
<script nomodule src="https://unpkg.com/@ccrpc/charts@0.9.3/dist/ccrpc-charts/ccrpc-charts.js"></script>
<script type='text/javascript' src='https://reportcard.ccrpc.org/static/reportcard/components/reportcard.js'></script>