<!-- We are not using the banner shortcode here because we want to add the class 'container' to the grid container to have the banner image full width, but the heading and description in line with the other contents-->
{{ $image := .Resources.GetMatch "banner.*" }}
{{ if $image }}
  <section class="unicef-hero p-lg-5 p-3" style="background-image: url('{{ $image.RelPermalink }}');">
    <div class="grid-container container">
      {{ if or .Params.bannerHeading .Params.bannerText .Params.bannerHeadingBackgroundColor .Params.bannerHeadingColor}}
        <div class="unicef-hero__callout_heading" style="background-color: {{ .Params.bannerHeadingBackgroundColor | default .Site.Params.text_color_dark }};">
          <h1 class="unicef-hero__heading" style="color: {{ .Params.bannerHeadingColor | default .Site.Params.white_color }}">
            {{ .Params.bannerHeading }}
          </h1>
        </div>
        <br />
        <div class="unicef-hero__callout">
          {{ if .Params.bannerText }}
            <p>{{ .Params.bannerText }}</p>
          {{ end }}
          {{ if and .Params.bannerAction .Params.bannerUrl }}
            <a class="unicef-button" href="{{ .Params.bannerUrl | relURL }}">{{ .Params.bannerAction }}</a>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
<!-- End of banner -->

{{ partial "floating_sidebar.html" . }}
<section class="future-vision-content container">
    <div class="content my-5">
        {{ .Content }}
    </div>
</section>