<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {{ hugo.Generator }}
  <meta name="description" content="{{ .Title }} - {{ .Site.Title }} ">

  {{ "<!-- Google Domain Verification Token -->" | safeHTML }}
  <meta name="google-site-verification" content="a4bAsGRiLdQ-SWvMS0s_o3836VYEiw7BpY-59neztgg" />

  
  {{ "<!-- ** CSS Plugins Needed for the Project ** -->" | safeHTML }}
  
  {{ "<!-- Bootstrap -->" | safeHTML }}
  <link rel="stylesheet" href="{{ `plugins/bootstrap/bootstrap.min.css` | absURL }}">

  {{ "<!-- themefy-icon -->" | safeHTML }}
  <link rel="stylesheet" href="{{ `plugins/themify-icons/themify-icons.css` | absURL }}">

  {{ "<!-- drones-categories-icon -->" | safeHTML }}
  <link rel="stylesheet" href="{{ `plugins/drone-dpgtoolkit-icons/icons.css` | absURL }}">

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">

  {{ "<!-- fonts -->" | safeHTML }}
  <link href="https://fonts.googleapis.com/css?family={{replace .Site.Params.font_family ' ' '+' | title}}:300,400,700&display=swap" rel="stylesheet">

  {{ "<!-- PDF.js -->" | safeHTML }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js"></script>

  {{ "<!-- fonts -->" | safeHTML }}
  <script src="https://kit.fontawesome.com/9196e0632a.js" crossorigin="anonymous"></script>
  
  <style>
  :root{
    --primary-color:{{ .Site.Params.primary_color }};
    --primary-color-light:{{ .Site.Params.primary_color_light }};
    --body-color:{{ .Site.Params.body_color }};
    --text-color:{{ .Site.Params.text_color }};
    --text-color-dark:{{ .Site.Params.text_color_dark }};
    --text-title-color:{{ .Site.Params.text_title_color }};
    --white-color:{{ .Site.Params.white_color }};
    --black-color:{{ .Site.Params.black_color }};
    --light-color:{{ .Site.Params.light_color }};
    --font-family:{{ replace .Site.Params.font_family ' ' '+' | title }};
  }
  </style>

{{ "<!-- Main Stylesheet -->" | safeHTML }}
{{ $css := resources.Get "css/style.css" | minify }}
<link href="{{ $css.Permalink }}" rel="stylesheet" media="screen"/>

{{ $custom_css := resources.Get "css/custom_style.css" | minify }}
<link href="{{ $custom_css.Permalink }}" rel="stylesheet" media="screen"/>

{{ $future_vision_css := resources.Get "css/future_vision.css" | minify }}
<link href="{{ $future_vision_css.Permalink }}" rel="stylesheet" media="screen"/>

{{ "<!-- ** JS Plugins Needed for the Project ** -->" | safeHTML }}

{{ "<!-- jquiry -->" | safeHTML }}
<script src="{{ `plugins/jquery/jquery-1.12.4.js` | absURL }}"></script>

{{ "<!-- jquary ui -->" | safeHTML }}
<script src="{{ `plugins/jquery/jquery-ui.js`| absURL }}"></script>

{{ "<!-- Bootstrap JS -->" | safeHTML }}
<script src="{{ `plugins/bootstrap/bootstrap.min.js` | absURL }}"></script>

{{ "<!-- PopperJS -->" | safeHTML }}
<script src="https://unpkg.com/@popperjs/core@2"></script>

{{ "<!-- match-height JS -->" | safeHTML }}
<script src="{{ `plugins/match-height/jquery.matchHeight-min.js` | absURL }}"></script>

{{ template "_internal/google_analytics.html" . }}
  
{{ if templates.Exists ( printf "partials/overrides/header.html" ) }}
  {{ partial "partials/overrides/header.html" . }}
{{ else }}
  {{ "<!-- create /layouts/partials/overrides/header.html in your own theme or root directory to add your custom content here -->" | safeHTML }}
{{ end }}

</head>
