{{ "<!-- home_banner -->" | safeHTML }}
<div class="home_banner_container container section">
	<div class="row home_banner_content">
		{{ if .Content }}
			{{ "<!-- index page text -->" | safeHTML }}
			<div class="container text-center">
				{{ .Content }}
			</div>
			{{ "<!-- /index page text -->" | safeHTML }}
		{{ end }}
	</div>
</div>
{{ "<!-- /home_banner -->" | safeHTML }}