<nav class="navbar navbar-expand-md navbar-dark d-flex flex-column p-0" style=" background-color: {{ site.Params.primary_color }}">
  <div class="w-100 container mx-0 navigation-bar">
    <div id="site-brand">
      {{ $logo:= site.Params.logo }}
      {{ $orgName:= site.Params.brand.parent_org_name }}
      {{ $orgUrl:= site.Params.brand.parent_org_url }}

      <div class="navbar-brand d-flex">
        <!-- {{ if $logo }}
        <img class="img-fluid d-inline globalLogoImg"
          src="{{ $logo | absURL }}"
          alt="{{ site.Title }}">
        {{ end }} -->
        <a class="text-center text-white mr-md-0" style="margin-right: calc(100vw - 350px);" href="/lrtp-2050">LRTP 2050</a>
        <small><a class="text-center text-white d-block d-md-none ml-md-0 my-1" href="/lrtp-2050/contact">Contact</a></small>
      </div>
    </div>

    <a class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sidebarIcon navbarMenu">Menu<i class="fa-solid fa-caret-down d-inline p-1"></i></span>
    </a>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        {{ range site.Menus.main }}
          {{ if gt (len .Page.CurrentSection.Pages) 0 }}
            <li class="nav-item dropdown d-flex align-items-center">
              <!-- Main Link -->
              <a class="nav-link text-white" href="{{ .URL }}">
                {{ .Name }}
              </a>
              <!-- Dropdown Toggle -->
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </a>
              <!-- Dropdown Menu -->
              <div class="dropdown-menu">
                {{ range .Page.CurrentSection.Pages }}
                  <a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ end }}
              </div>
            </li>
          {{ else }}
            <li class="nav-item">
              <a class="nav-link text-white" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>     
    </div>
  </div>
  {{ if not .IsHome }}
  <div class="w-100 py-2 breadcrumbBar text-light" style=" {{ if .IsHome }}background-color: transparent{{ else }}background-color: {{ site.Params.text_color_dark }}{{ end }}">  
    <div class="container">
      {{ partial "breadcrumb.html" . }}
      <a data-toggle="collapse" data-target="#sidebarMobile"  aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"> <i class="ti-menu text-light sidebarIcon"></i></a>
      <div class="text-light text-center sidebarMobile collapse justify-content-center" id="sidebarMobile">
        <div class="sidebarBox">
          <ul>
            {{ $currentNode := . }}
            {{range .Site.Home.Sections.ByWeight}}
              {{ if eq .FirstSection $currentNode.FirstSection }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "index" 0}}
              {{ end }}
            {{ end }}
            {{ partial "download-pdf.html" .}}
          </ul>
        </div>
      </div>
    </div>

  </div>
  {{ end }}
</nav>