{{ if .Page.CurrentSection }}
{{ if .Page.CurrentSection.Pages }}
{{ $pageUID := .Page.File.UniqueID }}

<div>
  <ul class="unicef-sidenav">
    {{ range .Page.CurrentSection.Pages }}
    <li class="unicef-sidenav__item">
      {{ if eq $pageUID .File.UniqueID }}
      <a class="unicef-current" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ $headers := findRE "<h2.*?>(.|\n])+?</h2>" .Content }}
      {{ if $headers }}
      <ul class="unicef-sidenav__sublist">
        {{ range $headers }}
          <li class="unicef-sidenav__item">
            <a href="#{{ . | plainify | htmlEscape | urlize }}">{{ . | plainify | htmlEscape }}</a>
          </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ else }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
{{ end }}