{{ "<!-- details page -->" | safeHTML }}
<section class="single section-sm" id="section">
    <div class="d-flex w-100">
      <div class="sidebarContainer py-5">
        <div class="sidebar">
          <ul>
            {{ $currentNode := . }}
            {{range .Site.Home.Sections.ByWeight}}
              {{ if eq .FirstSection $currentNode.FirstSection }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "index" 0}}
              {{ end }}
            {{ end }}
            {{ partial "download-pdf.html" .}}
          </ul>
        </div>
      </div>
      <div class="contentContainer py-5 px-5">
        <div class="p-lg-5 p-4 bg-white position-relative mx-5 my-3 w-100 contentBox" id="content">
          <h1 class="mb-5" id="title">{{ .Title }}</h1>
            {{ if .Content }}
            {{ else }}
              <div class="bg-light p-4">
                <p>UNICEF’s Venture Fund invests in early stage, open-source, emerging technology digital public goods with the potential to impact children on a global scale. It also provides product and technology assistance, support with business growth, access to a network of experts and partners to allow for scale and growth.</p>
                <div class="">

                    <div class="row">
                        {{ range .Pages }}
                        <div class="col-sm-6 mb-5 card-deck">
                            <div class="card">
                            <div class="card-body startupCard">
                              <div>
                                <h5 class="card-title"><i class="fa fa-solid fa-{{ .Params.icon }} mr-2" aria-hidden="true"></i>{{ .Title }}</h5>
                                <p class="card-text">{{ .Description }}</p>
                              </div>
                              <a href="{{ .Permalink }}" class="btn-primary btn-block px-10 py-3 text-center text-uppercase font-weight-bold">See Startup Teams</a>
                            </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
      </div>
    </div>
</section>
{{ "<!-- /details page -->" | safeHTML }}

<!-- templates -->
{{ define "default-section-tree-nav" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{with .sect}}
{{safeHTML .Params.head}}
{{ $fileUniqueID := "" }}
{{ with .File }}{{ $fileUniqueID = .UniqueID }}{{ end }}
{{ $currentNodeFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentNodeFileUniqueID = .UniqueID }}{{ end }}
<li data-nav-id="{{.Permalink}}" title="{{.Title}}" class="
  {{if eq $fileUniqueID $currentNodeFileUniqueID}}active{{end}}">
  <a href="{{.Permalink}}">
    {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
  </a>
  {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
  {{ if ne $numberOfPages 0 }}
    <ul>
      {{ range .Pages.ByWeight }}
        {{ if and .Params.hidden (not $.showhidden) }}
        {{else}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
        {{end}}
      {{end}}
    </ul>
  {{ end }}
</li>
{{ end }}
{{ end }}