{{ define "main" }}

  <section class="section index_section">
    {{ "<!-- index page text -->" | safeHTML }}
    <div class="container text-center p-3 p-md-5 index_content">
      <div class="col-lg-8 text-center mx-auto py-5 py-sm-0">
        <h1 class="mb-3">{{ .Site.Params.home_content.title | markdownify }}</h1>
        <p class="mb-4">{{ .Site.Params.home_content.subtitle | markdownify }}</p>
        <div class="position-relative">
          <input id="search" class="form-control" placeholder="{{ .Site.Params.home_content.placeholder }}">
          <i class="ti-search search-icon"></i>
          <!-- Javascript -->
          {{ $currentNode := . }}
          {{ $currentNode.Scratch.Set "pages" .Site.Pages }}
          {{ $pages := ($currentNode.Scratch.Get "pages") }}
          <script>
            $(function() {
              var projects = [
                {{ range .Site.Pages }}
                {
                  value: "{{ .Title }}",
                  label: "<p>{{.Plain}}</p>",
                  url: "{{ .Permalink }}"
                },
                {{ end }}
              ];
              
              $( "#search" ).autocomplete({
                source: function(request, response) {
                  var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                  response($.grep(projects, function(project) {
                    return matcher.test(project.value);
                  }));
                }
              })
              .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                  .append( "<a href='" + item.url + "'>" + item.value + "</a>" )
                  .appendTo( ul );
              };
            });
          </script>
        </div>
      </div>
    </div>
    {{ "<!-- /index page text -->" | safeHTML }}
    {{ "<!-- topics -->" | safeHTML }}
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-12 text-center">
          <h2 class="section-title">{{ i18n "topics_title" | safeHTML }}</h2>
        </div> -->
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range .Site.Pages  }}
        {{ if or (eq .Type "docs") (eq .Type "dpg-standard") (eq .Type "team") }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="{{ .Permalink }}" class="px-4 py-5 bg-white shadow text-center d-block match-height cardLink">
            {{ with .Params.icon}}<i class="{{.}} icon text-primary d-block mb-4"></i>{{end}}
            <h3 class="mb-3 mt-0">{{ .Title }}</h3>
            {{with .Params.description}}<p class="mb-0">{{. | markdownify}}</p>{{ end }}
          </a>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
  {{ "<!-- /topics -->" | safeHTML }}

  {{ if .Site.Params.cta.enable }}
  {{ with .Site.Params.cta }}
  {{ "<!-- call to action -->" | safeHTML }}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section px-3 bg-white shadow text-center">
          <h2 class="mb-4">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary">{{ .label }}</a>
          {{ end }}
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /call to action -->" | safeHTML }}
  {{ end }}
  {{ end }}

{{ end }}
