{{ .Page.Scratch.Add "accordion" 1 }}
{{ $level := default "2" (.Parent.Get "level") }}
<h{{ $level }} class="usa-accordion__heading">
  <button class="usa-accordion__button" aria-expanded="false" aria-controls="accordion-{{ .Page.Scratch.Get "accordion" }}">
    {{ if .IsNamedParams }}{{ .Get "title" }}{{ else }}{{ .Get 0 }}{{ end }}
  </button>
</h{{ $level }}>
<div id="accordion-{{ .Page.Scratch.Get "accordion" }}" class="usa-accordion__content">
  {{ .Inner }}
</div>