{{ $name := .Get "name"}}

<h3 class="hyperlink_title">{{ $name }}</h3>

<style>
  .hyperlink_title {
    text-decoration: underline;
    text-decoration-color: crimson;
    text-underline-offset: 5px;
  }
</style>