{{ $url := .Get "url" }}
{{ $name := .Get "name"}}
{{ $tags := .Get "tags"}}

<p>
    <a class="hyperlink" href="{{ $url }}" data-tags="{{ $tags }}">{{ $name }}</a>
</p>

<style>
    .hyperlink {
      text-decoration: underline;
      color: blue;
    }
</style>