<div class="resource_bank_search">
	<h2>Search</h2>
	<p>Enter your keyword in the box below to search available resources</p>
	<div class="resource_bank_search_box">
		<input type="text" class="searchTerm" placeholder="Enter Search Keywords" />
		<button type="submit" class="searchButton">
			<i class="fa fa-search" aria-hidden="true"></i>
		</button>
		<!-- Javascript -->
		<!-- JavaScript -->
		<script>
			// Get the search input element
			const searchInput = document.querySelector('.searchTerm');

			// Add an event listener for input change
			searchInput.addEventListener('input', function () {
				const searchTerm = this.value.toLowerCase();

				// Split the search term into individual tags
				const searchTags = searchTerm.split(' ');

				// Get all hyperlinks
				const hyperlinks = document.querySelectorAll('.hyperlink');

				// Loop through hyperlinks and hide/show based on search term
				for (let i = 0; i < hyperlinks.length; i++) {
					const hyperlink = hyperlinks[i];
					const linkTags = hyperlink.getAttribute('data-tags').toLowerCase().split(/\s*,\s*/);

					// Check if any of the link tags start with any of the search tags
					const isMatch = searchTags.some(function (tag) {
						return linkTags.some(function (linkTag) {
							return linkTag.startsWith(tag);
						});
					});

					// Show or hide the hyperlink based on the match
					hyperlink.style.display = isMatch ? 'inline' : 'none';
				}
			});
		</script>
	</div>
</div>

<style>
	.resource_bank_search {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.resource_bank_search_box {
		display: flex;
		width: 80%;
	}

	.searchTerm {
		width: 100%;
		border: 3px solid #00b4cc;
		border-right: none;
		padding: 15px;
		height: 20px;
		border-radius: 5px 0 0 5px;
		outline: none;
		color: #9dbfaf;
	}

	.searchButton {
		width: 40px;
		height: 36px;
		border: 1px solid #00b4cc;
		background: #00b4cc;
		text-align: center;
		color: #fff;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		font-size: 20px;
	}
</style>