{{ $id := .Get "id" }} {{ $text := .Get "text" }} {{ $tooltip := .Get "tooltip"}}

<span class="tooltip" id="{{ $id }}" aria-describedby="{{ $id }}_tooltip">
    {{ $text }}
    <span class="tooltiptext" id="{{ $id }}_tooltip" role="tooltip">
        {{ $tooltip }}
    </span>
</span>

<style>
  .tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    color: blue;
    opacity: 1 !important;
    font-size: 1rem !important;
    margin-bottom: 0px;
  }

  .tooltip:hover {
    cursor: help;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
  }
</style>
